@font-face {
    font-family: "CeraPro";
    src: url("../CeraPro-Regular.woff2") format("woff2");
}

*{
    font-family: "CeraPro", sans-serif;
}

.position_center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
    width: 1200px;
    height: 53px;
    margin-top: 30px;
    background-color: transparent;
    border-bottom: 0.3px solid #46A35880;

    img {
        float: left;
    }
}

.button_login {
    float: right;
    max-width: 100%;
    max-height: 100%;
    width: 100px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    margin-bottom: 18px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    line-height: 20px;
    background-color: #46A358;
    color: #FFFFFF;
    cursor: pointer;
}

.button_block {
    display: inline-block;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    max-height: 100%;
    width: 400px;
    height: 45px;
    margin-top: 8px;
    padding: 0;
}

.button_home {
    display: inline-block;
    width: 50px;
    height: 45px;
    margin-right: 50px;
    color: #3D3D3D;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
}

.button_shop {
    display: inline-block;
    padding: 0px;
    width: 45px;
    height: 45px;
    margin-right: 50px;
    color: #3D3D3D;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
}

.button_plant_care {
    display: inline-block;
    width: 85px;
    height: 45px;
    margin-right: 50px;
    padding: 0;
    color: #3D3D3D;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
}

.button_blogs {
    display: inline-block;
    width: 45px;
    height: 45px;
    padding: 0;
    color: #3D3D3D;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
}

.main_banner {
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
    width: 1200px;
    height: 450px;
    margin-top: 12px;

    background: linear-gradient(97.77deg, rgba(245, 245, 245, 0.5) -23.46%, rgba(245, 245, 245, 0.5) 107.51%);


    img {
        float: right;
    }
}

.main_banner_title {
    width: 205px;
    height: 16px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    margin-left: 40px;
    margin-top: 68px;
    text-align: left;
    color: #3D3D3D;
}

.main_banner_text_one {
    width: 530px;
    height: 140px;
    font-size: 70px;
    line-height: 70px;
    margin-left: 40px;
    margin-top: 7px;
    font-weight: 900;
    text-align: left;
}

.main_banner_text_two {
    width: 557px;
    height: 45px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #727272;
    text-align: left;
    margin-left: 43px;
    margin-top: 5px;

}

.main_banner_button {
    width: 140px;
    height: 40px;
    border-radius: 6px;
    background: #46A358;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    border: none;
    margin-left: 41px;
    margin-top: 44px;
    float: left;
}