@font-face {
    font-family: "CeraPro";
    src: url("../fonts/CeraPro-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "CeraProBlack";
    src: url("../fonts/CeraPro-Black.woff2") format("woff2");
}

/*registration_style*/

.body_registr {
    font-family: "CeraPro", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f8f8;
}

.container {
    width: 500px;
    height: 656px;
    background: #FFFFFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-bottom: 10px solid #46A358;
    position: relative;
}

.close-btn {
    position: absolute;
    top: 16px;
    left: 472px;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
    outline: none;
    color: transparent;
    font-size: 0;
}

.close-btn::before,
.close-btn::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 18px;
    background-color: #46A358;
    top: 0;
    left: 3px;
}

.close-btn::before { transform: rotate(45deg); }
.close-btn::after { transform: rotate(-45deg); }

.form-box {
    margin-top: 40px;
}

.form-box h2 {
    margin-top: 52px;
    margin-bottom: 40px;
    font-size: 20px;
    line-height: 16px;
}

.form-box .inactive {
    color: #3D3D3D;
}
.form-box .active {
    color: #46A358;
}
.form-box .separator {
    color: #3D3D3D;
    margin-right: 10px;
    margin-left: 12px;
    font-size: 15px;
    font-weight: lighter;
}

.form-box p {
    font-family: "CeraPro", sans-serif;
    font-size: 13px;
    line-height: 16px;
    color: #3D3D3D;
    margin-bottom: 6px;
    padding-right: 40px;
}

.input-wrapper {
    position: relative;
    width: 300px;
    margin-left: 93px;
}

.form-box input {
    font-family: "CeraPro", sans-serif;
    width: 300px;
    height: 40px;
    padding-left: 14px;
    margin: 8px;
    border: 1px solid #EAEAEA;
    border-radius: 5px;
    font-size: 14px;
    line-height: 16px;
    box-sizing: border-box;

}

.icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

input::placeholder {
    color: #A5A5A5;
}

.register-btn {
    font-family: "CeraPro", sans-serif;
    width: 300px;
    height: 45px;
    background-color: #46A358;
    color: white;
    margin-top: 33px;
    margin-bottom: 36px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    line-height: 16px;
}

.register-btn:hover {
    background-color: #1A712A;
}

.divider {
    font-family: "CeraPro", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 27px;
    color: #3D3D3D;
    font-size: 13px;
    line-height: 16px;
}
.divider::before {
    content: "";
    width: 95px;
    height: 1px;
    background-color: #EAEAEA;
    margin-right: 6px;
}

.divider::after {
    content: "";
    width: 95px;
    height: 1px;
    background-color: #EAEAEA;
    margin-left: 6px;
}

.google-btn, .facebook-btn {
    width: 300px;
    height: 40px;
    margin-bottom: 15px;
    margin-left: 100px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    color: #727272;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;

    span {
        font-family: "CeraPro", sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
    }
}

.google-btn:hover,
.facebook-btn:hover {
    background-color: rgb(251, 247, 247);
}


/*main_page_style*/

.position_center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* homework 6.1 */

.header {
    font-family: "CeraPro", sans-serif;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    max-height: 100%;
    width: 1200px;
    height: 53px;
    margin-top: 30px;
    background-color: transparent;
    border-bottom: 0.3px solid #46A35880;
}

.header_icon_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 209px;
    height: 35px;
}

.header_icon_box svg:hover {
    fill: #46A358;
}

.button_login {
    font-family: "CeraPro", sans-serif;
    width: 100px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    line-height: 20px;
    background-color: #46A358;
    color: #FFFFFF;
    cursor: pointer;
}

.button_login:hover {
    background-color: #1A712A;
}

.button_block {
    display: flex;
    justify-content: space-between;
    width: 351px;
    height: 45px;
    margin-top: 8px;
}

.button_home {
    display: inline-block;
    width: 45px;
    color: #3D3D3D;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
}

.button_shop {
    display: inline-block;
    width: 38px;
    color: #3D3D3D;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
}

.button_plant_care {
    display: inline-block;
    width: 76px;
    height: 42px;
    color: #3D3D3D;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
}

.button_blogs {
    display: inline-block;
    width: 42px;
    color: #3D3D3D;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
}

.button_block input {
    display: none;
}

.button_block input:checked + label {
    border-bottom: 3px solid #46A358;
    font-weight: 700;
}

.main_banner {
    font-family: "CeraPro", sans-serif;
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
    width: 1200px;
    height: 450px;
    margin-top: 12px;
    background: linear-gradient(97.77deg, rgba(245, 245, 245, 0.5) -23.46%, rgba(245, 245, 245, 0.5) 107.51%);
    img {
        float: right;
    }
}

.main_banner_title {
    width: 205px;
    height: 16px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    margin-left: 40px;
    margin-top: 68px;
    text-align: left;
    color: #3D3D3D;
}

.main_banner_text_one {
    font-family: "CeraProBlack", sans-serif;
    color: #3D3D3D;
    width: 530px;
    height: 140px;
    font-size: 70px;
    line-height: 70px;
    margin-left: 40px;
    margin-top: 7px;
    font-weight: 900;
    text-align: left;
}

.main_banner_text_two {
    width: 557px;
    height: 45px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #727272;
    text-align: left;
    margin-left: 43px;
    margin-top: 5px;
}

.main_banner_button {
    width: 140px;
    height: 40px;
    border-radius: 6px;
    background: #46A358;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    border: none;
    margin-left: 41px;
    margin-top: 44px;
    float: left;
    cursor: pointer;
}

.main_banner_button:hover {
    background: #1A712A;
}

/* homework 7.1 */

.main_box {
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
    width: 1200px;
    height: 1244px;
    margin-top: 26px;
}

.main_box_category {
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
    width: 310px;
    height: 774px;
    background-color: #FBFBFB;
    float: left;
}

.main_box_category_title {
    font-family: "CeraPro", sans-serif;
    width: 93px;
    height: 16px;
    font-size: 18px;
    line-height: 16px;
    font-weight: 700;
    margin-top: 14px;
    margin-left: 18px;
    margin-bottom: 7px;
    color: #3D3D3D;
}

.main_box_category_frame {
    font-family: "CeraPro", sans-serif;
    display: inline-block;
    width: 103px;
    height: 383px;
    background-color: transparent;
    margin-left: 30px;
}

.main_box_category_frame input {
    display: none;
}

.main_box_category_frame label {
    font-weight: 400;
    font-size: 15px;
    line-height: 40px;
    cursor: pointer;
    color: #3D3D3D;
    display: block;
    transition: color 0.3s, font-weight 0.3s;
}

.main_box_category_frame input:checked + label {
    color: #46A358;
    font-weight: 700;
}

.main_box_banner {
    width: 310px;
    height: 470px;
    margin-top: 774px;
}

.main_box_sort {
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
    width: 840px;
    height: 23px;
    float: right;
}

/*.main_box_sort_button {*/
/*    float: left;*/
/*    span {*/
/*        font-family: "CeraPro", sans-serif;*/
/*        height: 23px;*/
/*        margin-right: 40px;*/
/*        font-weight: 400;*/
/*        font-size: 15px;*/
/*        line-height: 16px;*/
/*        padding-bottom: 5px;*/
/*        cursor: pointer;*/
/*    }*/

/*}*/

.main_box_sort_button {
    float: left;
    display: flex;
}

.main_box_sort_button input {
    display: none;
}

.main_box_sort_button label {
    font-family: "CeraPro", sans-serif;
    height: 23px;
    margin-right: 40px;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    padding-bottom: 5px;
    cursor: pointer;
}

.main_box_sort_button input:checked + label {
    color: #46A358;
    border-bottom: 2px solid #46A358;
    font-weight: 700;
}

.main_box_sort_by_button {
    float: right;
    span {
        font-family: "CeraPro", sans-serif;
        height: 23px;
        margin-right: 5px;
        font-weight: 400;
        font-size: 15px;
        line-height: 16px;
    }

    svg {
        float: right;
        margin-top: 1.5px;
        cursor: pointer;
    }
}

.main_box_select_pages {
    font-family: "CeraPro", sans-serif;
    display: inline-block;
    width: 225px;
    height: 35px;
    margin-top: 90px;
    float: right;

    button {
        font-family: "CeraPro", sans-serif;
        font-weight: 300;
        font-size: 18px;
        line-height: 16px;
        float: right;
        width: 35px;
        height: 35px;
        border-radius: 4px;
        border: 1px solid #E5E5E5;
        background-color: transparent;
        margin-left: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #3D3D3D;
    }
}

.main_box_products {
    display: flex;
    flex-wrap: wrap;
    row-gap: 70px;
    column-gap: 33px;

    max-width: 100%;
    max-height: 100%;
    width: 840px;
    height: 1190px;
    margin-top: 31px;
    float: right;
}

.main_box_products_item_title {
    span {
        color: #3D3D3D;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        margin-top: 12px;
        margin-bottom: 6px;
    }
}

.main_box_products_item_title_price {
    span {
        font-weight: 700;
        font-size: 18px;
        line-height: 20px;
        color: #46A358;
    }
}

/*homework 8.1*/

.main_blog_box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 1200px;
    height: 887px;
    margin-top: 219px;
}

.main_blog_box_frame {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    height: 302px;
}

.main_blog_box_frame_item {
    width: 586px;
    height: 302px;
    background: transparent;
}

.main_blog_box_frame_item_background {
    display: flex;
    justify-content: space-between;
    width: 586px;
    height: 250px;
    margin-top: 52px;
    background: #FBFBFB;
}

.main_blog_box_frame_item_background_title {
    width: 150px;
    height: 48px;
    color: #3D3D3D;
    font-family: "CeraProBlack", sans-serif;
    font-weight: 900;
    font-size: 18px;
    line-height: 24px;
    text-align: right;
    margin-top: 37px;
    margin-right: 30px; margin-left: -30px;
}
.main_blog_box_frame_item_background_text {
    width: 292px;
    height: 45px;
    font-family: "CeraPro", sans-serif;
    color: #727272;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: right;
    margin-top: 9px;
    margin-right: 30px;
    margin-left: -30px;
}

.main_blog_box_frame_item_background_button {
    width: 140px;
    height: 40px;
    background: #46A358;
    color: #FFFFFF;
    border-radius: 6px;
    font-family: "CeraPro", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    border: none;
    margin-top: 25px;
    margin-right: 30px;
    margin-left: -30px;

    display: flex;
    justify-content: center;
    align-items: center;

    svg {
        margin-left: 2px;
        margin-top: 2px;
    }
}

.main_blog_box_frame_item_background_button:hover {
    background-color: #1A712A;
}

.main_blog {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1200px;
    height: 447px;

}
.main_blog_title {
    width: 209px;
    height: 16px;
    font-family: "CeraPro", sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 16px;
    color: #3D3D3D;
    text-align: center;
}
.main_blog_text {
    font-family: "CeraPro", sans-serif;
    width: 557px;
    height: 19px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    margin-top: 15px;
    color: #727272;
    text-align: center;
}
.main_blog_item_box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1200px;
    height: 362px;
    margin-top: 35px;
}
.main_blog_item {
    width: 268px;
    height: 362px;
    background: #FBFBFB;


}

.main_blog_item_zeit{
    color: #46A358;
    font-family: "CeraPro", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    margin-top: 4px;
    margin-left: 15px;


}

.main_blog_item_title {
    font-family: "CeraPro", sans-serif;
    font-weight: 700;
    max-width: 205px;
    font-size: 20px;
    line-height: 26px;
    margin-top: 4px;
    margin-left: 15px;
    color: #3D3D3D;
    text-align: left;
}

.main_blog_item_content {
    font-family: "CeraPro", sans-serif;
    max-width: 242px;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    margin-top: 4px;
    margin-left: 15px;
    color: #727272;
}

.main_blog_item_raed_more {
    display: flex;
    text-align: center;
    font-family: "CeraPro", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #3D3D3D;
    margin-top: 9px;
    margin-left: 15px;
    cursor: pointer;
    width: 90px;
    svg {
        margin-top: 1px;
        margin-left: 3px;
    }
}

.main_blog_item_raed_more:hover {
    color: #46A358;
    svg {
        fill: #46A358;
    }
}

    /*homework 9.1*/

.main_box_products_items {
    width: 258px;
    height: 350px;
    font-family: "CeraPro", sans-serif;
}

.main_box_products_items_images {
    position: relative;
    width: 250px;
    height: 300px;
}

.main_box_products_items_images:hover .hover_overlay {
    opacity: 1;
}

.hover_overlay {
    position: absolute;
    display: flex;
    bottom: 7px;
    left: 67px;
    gap: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.hover_overlay button {
    width: 35px;
    height: 35px;
    background: #FFFFFF;
    border: none;
    cursor: pointer;
    justify-content: center;
    border-radius: 4px;
    transition: transform 0.2s ease;

    img {
        width: 20px;
        height: 20px;
    }
}

.main_box_products_items_images:hover::before {
    opacity: 1;
}

.main_box_products_items_images::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 258px;
    height: 1px;
    background: #46A358;
    opacity: 0;
    transition: opacity 0.3s ease;
}

/*homework 10.1*/

.dropdown {
    position: relative;
}

.dropdown-menu a {
    padding: 10px 14px;
    text-decoration: none;
    color: #3D3D3D;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    display: block;
    transition: background 0.3s ease;
}

.dropdown-menu {
    font-family: "Encode Sans Expanded", sans-serif;
    position: absolute;
    top: 100%;
    background: #EDF6EE;
    width: 188px;
    display: block;
    opacity: 0;
    visibility: hidden;
    flex-direction: column;
    margin-top: 13px;
    margin-left: -56px;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
}

.submenu {
    position: relative;
}

.dropdown-submenu {
    position: absolute;
    left: 100%;
    top: 0;
    background: #EDF6EE;
    width: 180px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    margin-top: -108px;
    margin-left: 2px;
}

.submenu:hover .dropdown-submenu {
    opacity: 1;
    visibility: visible;
}

.priming {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    padding: 10px 14px;
    cursor: pointer;
    position: relative;
}

.priming:hover,
.submenu:hover .priming {
    background: #1A712A;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.priming:hover .arrow,
.submenu:hover .priming .arrow {
    content: url('../images/Frame10.svg');
}

/*homework 11.1*/

.footer {
    margin-top: 100px;
    width: 1200px;
    height: 574px;
}

.footer_frame1 {
    width: 1200px;
    height: 250px;
    display: flex;
    justify-content: flex-start;
    background: #FBFBFB;

}

.footer_frame1_item1 {
    width: 204px;
    height: 202px;
    margin: 24px 25px;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.footer_frame1_item1_title {
    font-family: "CeraPro", sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 16px;
    color: #3D3D3D;
}

.footer_frame1_item1_text {
    font-family: "CeraPro", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    margin-top: 15px;
    color: #727272;
}

.footer_frame1_item2 {
    width: 354px;
    height: 202px;
    margin: 24px 25px 24px 62px;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.footer_frame1_item2_text {
    width: 354px;
    height: 89px;
    font-family: "CeraPro", sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;
    margin-top: 18px;
    color: #727272;
}

.email-container {
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 354px;
    height: 40px;
    border-radius: 6px;
    box-shadow: 0 0 20px 0 #0000000F;
    margin-top: 25px;
    background: #FFFFFF;
}

.email-input {
    flex: 1;
    border: none;
    padding-left: 11px;
    outline: none;
    color: #ACACAC;
    font-family: "CeraPro", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.email-input::placeholder {
    color: #ACACAC;
    font-family: "CeraPro", sans-serif;
    opacity: 1;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.join-button {
    background-color: #46A358;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    width: 85px;
    height: 40px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    font-family: "CeraPro", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 16px;
}

.join-button:hover  {
    background-color: #1A712A;
}

.footer_frame1_line {
    width: 1px;
    height: 187px;
    background: rgba(70, 163, 88, 0.1);
    margin-right: 5px;
    margin-top: 31px;
    margin-left: 5px;
}

.footer_frame2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    height: 88px;
    background: linear-gradient(90deg, #EDF6EF 0%, #52C368 100%);

}

.footer_frame2_logo {
    width: 150px;
    height: 34.3px;
    margin-left: 23px;
}

.footer_frame2_address {
    width: 205px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
        margin-right: 9px;
    }

    a{
        font-family: "CeraPro", sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: #3D3D3D;
        text-decoration: none;
    }
}

.footer_frame2_email {
    width: 195px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
        margin-right: 10px;
    }

    a{
        font-family: "CeraPro", sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: #3D3D3D;
        text-decoration: none;
    }
}

.footer_frame2_phone {
    width: 144px;
    height: 22px;
    margin-right: 22px;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
        margin-right: 8px;
    }

    a{
        font-family: "CeraPro", sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: #3D3D3D;
        text-decoration: none;
    }
}

.footer_frame3 {
    width: 1200px;
    height: 236px;
    background: #FBFBFB;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #46A35833;
}

.footer_frame3_item1 {
    width: 100px;
    height: 174px;
    margin-top: 33px;
    margin-left: 25px;
    margin-bottom: 29px;
    font-family: "CeraPro", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: #3D3D3D;
    cursor: pointer;
}

.footer_frame3_item2 {
    width: 137px;
    height: 174px;
    margin-top: 33px;
    margin-left: 164px;
    margin-bottom: 29px;
    font-family: "CeraPro", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: #3D3D3D;
    cursor: pointer;
}

.footer_frame3_item3 {
    width: 93px;
    height: 174px;
    margin-top: 33px;
    margin-left: 129px;
    margin-bottom: 29px;
    font-family: "CeraPro", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: #3D3D3D;
    cursor: pointer;
}

.footer_frame3_item4 {
    width: 224px;
    height: 154px;
    margin: 39px 155px 45px 173px;
    font-family: "CeraPro", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: #3D3D3D;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.footer_frame3_item4_title {
    font-family: "CeraPro", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 16px;
    color: #3D3D3D;
}

.footer_frame3_item4_social {
    width: 190px;
    height: 30px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;

    svg {
        cursor: pointer;
    }
}

.close_text {
    font-family: "CeraPro", sans-serif;
    width: 257px;
    height: 30px;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    margin-top: 6px;
    color: #3D3D3D;
}